.gallery{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    padding: 0;
}
.gallery .pics{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 16px;
}
.gallery .pics .pic{
    border-radius: 0px;
}

@media (max-width: 1060px) {
    .gallery{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        position: relative;
    }
}

@media (max-width: 480px) {
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        position: relative;
    }

    .icon {
        padding-bottom: 5px;
        padding-right: 0;
    }
    .scramble-txts{
        position: relative;
        height: 20px;
        background: transparent;
        overflow: hidden;
    }
    .scroll-box{
        overflow-y: visible;
    }
    @keyframes shuffle{
        0%, 85% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-280px);
        }
    }
    .dropdown {
        position: relative;
    }
    .dropdown.open {
        position: relative;
        margin-bottom: 2vh;
    }
}

/*model*/

.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(8px);
    transition: opacity .3s ease, visibility .3s ease;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 999;
}
.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.model img{
    width: auto;
    max-width: 95%;
    height: auto;
    max-height: 95%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}
@media (max-width: 480px) {
    .model img{
        width: auto;
        max-width: 88%;
        height: auto;
        max-height: 88%;
        display: block;
        line-height: 0;
        box-sizing: border-box;
        padding: 20px 0 20px;
        margin: 0 auto;
    }
}
.gallery-container{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.25);
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
.gallery-container.open{
    visibility: visible;
    opacity: 1;
}
.corner-border{
    --b: 1px;   /* thickness of the border */
    --c: white;   /* color of the border */
    --w: 50px;  /* width of border */
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}
.direction{
    position: fixed;
    bottom: 4%;
    right: 4%;
}
/* .closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25rem;
    height: 25rem;
    padding: 5px;
    display: block;
    cursor: pointer;
    background-color: black;
    color: white;
} */
.mask{
    position: absolute;
    -webkit-mask-image: url("../assets/mask.svg");
    mask-image: url("../assets/mask.svg");
    background:#d0d0d0;
    mask-repeat: no-repeat;
    mask-size: 40px;
    color:#00040f;
}
.changingBg {
    background: #00040f;
}

.changingBg .active {
    background: white;
}

.text-align-right{
    text-align: right;
}

.JHK {
    display: inline-flex;
}

.names{
    margin-left: 0.21em;
    height: 18px;
    line-height: 20px;
    overflow: hidden;
}
.names li{
    color:white;
    list-style: none;
    font-size: 16px;
    position: relative;
    top: 0;
}
.names-all:hover{
    transform: translateY(-20px);
    transition: all ease-in-out 200ms;
}
.names li span{
    position: relative;
}


.scramble-txts{
    position: relative;
    height: 30px;
    background: transparent;
    overflow: hidden;
}

.scramble-txts span{
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    animation: shuffle steps(14) 5s infinite;
}
@keyframes shuffle{
    0%, 80%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-420px);
    }
}


/* .names li span:hover::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 3s steps(4) infinite;
} */
@keyframes slide {
    100%{
        top: -40px;
    }
}
@keyframes typing {
    100%{
        left: 100%;
    }
}


.icon{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    filter: invert(100%);
}

/* .icon:hover{
    filter: invert(100%) sepia(50%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
} */

.button-effect{
    position: relative;
}

.button-effect:hover{
    transition: 0.5s;
    letter-spacing: 0.025em;
}

.button-effect::after{
    content: "";
    height: 2px;
    width: 0%;
    background: #C53633;
    position: absolute;
    left: 50%;
    top: -3px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.button-effect:hover::after{
    opacity: 1;
    left: 0%;
    width: 100%;
}
/* .button-effect-active{
    transition: 0.5s;
    letter-spacing: 0.025em;
}
.button-effect-active::after{
    content: "";
    height: 6px;
    width: auto;
    background: #C53633;
    position: absolute;
    left: 50%;
    top: -6px;
    transition: all 0.2s;
    pointer-events: none;
} */

.sidebar{
    filter: blur(80%) brightness(10%);
}
.dropdown {
    position: relative;
}
.dropdown.open {
    position: relative;
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 0.9rem);
    height: auto;
    width: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.dropdown-menu .link{
    position: relative;
    padding-left: 15px;
}
.dropdown-menu .link:hover{
    letter-spacing: 0.025em;
    transition: all 0.2s;
}
.dropdown-menu.open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(10px);
    transition: opacity 350ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown-menu-mobile{
    position: relative;
    top: calc(100% + 0.1rem);
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    background-color: rgb(0,0,0,0.2);
    opacity: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
}
.dropdown-menu-mobile .link{
    position: relative;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}
.dropdown-menu-mobile.open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(10px);
    transition: opacity 350ms ease-in-out, transform 250ms ease-in-out;
    height: auto;
}

.objectives li::before {
    content: "+ ";
}
.scroll-box{
    overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar{
    display: none;
}
.about-section {
    border-bottom: rgba(255, 255, 255, 0.35) 1px solid;
}
.menu-button.open{
    transform: rotate(-135deg);
    transition: transform 500ms ease-in-out;
}
.menu-button{
    transform: rotate(0deg);
    transition: transform 500ms ease-in-out;
}
.slider-box{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    margin: 0;
}
.slider-container{
    position: absolute;
    top: calc(100vh - 600px);
}
.slider{
    position: relative;
    white-space: nowrap;
    display: flex;
}
.slider p{
    margin: 0px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 200px;
    padding-right: 48px;
    overflow: hidden;
}
.slider p:nth-of-type(2){
    position: absolute;
    left: 100%;
    top:0;
}